/* @font-face {
  font-family: "MyFont";
  src: url("./my_font1.ttf") format("ttf");
} */

@font-face {
  font-family: "MyFont";
  src: url("./my_font2.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: blueviolet;
  font-family: "MyFont", sans-serif;
  background: url("./icon.png");
  font-size: 100px;
}
